.home__cntr {
    background-color: black;
    position: relative;
}

.home__background_figure {
    position: fixed;
    top: 4rem;
    left: 0;
    width: 100%;
    height: 100%;
}

.home__background_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home__wrapper {
    position: relative;
    top: 5rem;
    color: white;
    font-size: 1.7rem;
    line-height: 1.5em;
    padding-top: 4rem;
    padding-right: 45%;
    padding-bottom: 2rem;
    padding-left: 16rem;
}

.home__links {
    color: yellow;
}

@media screen and (max-width: 1600px) {
    .home__wrapper {
        font-size: 1.6rem;
        padding-top: 3rem;
        padding-left: 10rem;
    }
}

@media screen and (max-width: 1200px) {
    .home__wrapper {
        font-size: 1.4rem;
        padding-top: 2rem;
        padding-left: 2rem;
    }
}

@media screen and (max-width: 768px) {

    .home__wrapper {
        font-size: 1.2rem;
        padding-top: 1rem;
        padding-right: 30%;
        padding-bottom: 2rem;
        padding-left: 1rem;
    }

}

@media screen and (max-width: 480px) {
    .home__wrapper {
        padding-right: 1rem;
    }
}