* {
    margin: 0;
    box-sizing: border-box;
    font-family: Itim;
}

.back_link {
    color: blue;
    /* color: lightskyblue; */
    /* color: white; */
    align-self: flex-start;
    padding-top: 0.5rem;
}

.audio {
    position: fixed;
    top: 4.1rem;
    right: 0;
    height: 1.5rem;
    width: 16rem;
    z-index: 1;
}

.app__search_input {
    width: 15rem;
    height: 2rem;
    margin-top: 3rem;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    padding-top: 0;
    margin-bottom: 2rem;
    padding-left: 0.5rem;
    outline: none;
}

.app__search_input::placeholder {
    padding-top: 0.2rem;
    padding-left: 0.3rem;
    color: cornflowerblue;

}

@media screen and (max-width: 480px) {
    .audio {
        position: fixed;
        top: 4rem;
        right: 0;
        height: 1.5rem;
        width: 100%;
        z-index: 1;
    }
}